.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8BC34A;
    height: 200px;
    position: relative;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  
  .banner-content {
    flex: 1;
  }
  